.project__displayer__header
{
    text-align: center;
    margin: 32px 2px;
    color: #B5B5B5;
}

.project__displayer__comp
{
    text-align: center;
}

.display__perfectly
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fixed__display
{
    margin: 16px 6px;
}

.project__dialog__box
{
    background-color: #1E1E1E;
    padding: 24px 36px;
    color: #B5B5B5;
}

.smart__nav
{
    display: flex;
    align-content: center;
    text-align: center;
    margin: 2px 29%;
    margin-bottom: 26px;
}

.active__smart__nav
{
    color: #FDB60E;
    border-bottom: 2px solid #FDB60E;
    padding-bottom: 6px;
}

.smart__nav div
{
    margin: 2px 16px;
    display: flex;
    cursor: pointer;
}

.smart__nav div p
{
    margin-top: 3px;
    margin-left: 4px;
}

.disk__cont
{
    display: flex;
}

.backspace__icon
{
    margin-top: 16px;
    color: rgb(255, 47, 0);
}

.style__span
{
    font-size: 12px;
    margin-left: 12px;
    cursor: pointer;
    color: rgb(0, 115, 255);
}

.disk__cont div
{
    margin-left: 28px;
    height: 292px;
    overflow: scroll;
}

.smart__disk__big
{
    width: 430px;
    height: 294px;
}

.smart__disk__small
{
    width: 48px;
    margin: 0px 12px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.border__line
{
    border: 3px solid #38CF4D;
}

@media only screen and (max-width: 600px)
{
    .disk__cont
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .disk__cont div
    {
        height: auto;
        display: flex;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .smart__nav
    {
        margin: 2px 15%;
        margin-bottom: 34px;
    }

    .smart__disk__big
    {
        width: 296px;
        height: 228px;
    }
}
